/* Anything between these two tags will be ignored by the browser */


a {
    color: red;
background-color: rgb(163, 249, 163);

}

.specialp {

    color:blueviolet
}

#specialid {
    color:rgb(240, 205, 140);
background-color:rgb(145, 145, 236) 
}
